.education_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  margin: 5rem 0 0;

  img {
    width: 9rem;
    border-radius: 8px;
  }

  border-bottom: 1px solid var(--border);

  span {
    font-weight: bold;
  }
}

.education_title,
.education_description {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .education_container {
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0 0;
  }

  .education_title,
  .education_description {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-size: 1.5rem;
  }
}
