.experience_container {
  display: flex;
  align-items: start;
  gap: 2rem;
  margin-bottom: 3rem;
}

.experience_title {
  width: 100vw;
  max-width: 23rem;

  font-weight: bold;
  color: var(--primary);

  span {
    color: var(--text);
  }
}

.experience_text {
  line-height: 3rem;

  span {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary);
  }

  p {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .experience_container {
    flex-direction: column;
    gap: 1rem;
  }

  .experience_title {
    max-width: 100%;
  }
}
