.experience_container {
  display: flex;
  align-items: start;
  gap: 2rem;
  margin-bottom: 3rem;
}

.experience_title {
  width: 100vw;
  max-width: fit-content;

  font-weight: bold;
  color: var(--primary);

  span {
    color: var(--text);
    font-size: 1.8rem;
  }
}

.experience_text {
  line-height: 2.2rem;

  span {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary);
  }

  p {
    margin-top: 2rem;
  }
}
