:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

/*   border: 1px solid red;  */
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--text);
  text-decoration: none;
}

section {
  padding: 2rem 15rem;
  margin: 0 auto;
}

p {
  font-size: 1.2rem;
}
