.about_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10rem;
}
.about_image {
  width: 40rem;
  height: auto;
  object-fit: cover;
}

.about_text p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

.about_text span {
  color: var(--primary);
  font-weight: bold;
}

@media (max-width: 400px) {
  .about_container {
    flex-direction: column;
    gap: 2rem;


    img {
      width: 100%;
      height: auto;
    }
  }
}
