.contact_description {
  text-align: center;
  margin: 5rem 0;
}

.contact_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 768px) {
  .contact_container {
    grid-template-columns: 1fr;
  }
}
