.header {
  margin: 5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2.6rem; 
  font-weight: bold;
}

.logo span {
  color: var(--primary);
}

.nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.scroll_item {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 1rem;
  padding-bottom: 4px;
  cursor: pointer;
}

.scroll_item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.4s ease;
  border-radius: 2px;
}

.scroll_item:hover::after {
  width: 100%;
}

.menu_button {
  display: none;
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    margin: 0;
    padding: 1.5rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--background);
    z-index: 1000;
  }

  .menu_button {
    display: block;
  }
  .logo {
    font-size: 2rem;
  }

  .nav {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    transform: translateY(-120%);
    opacity: 0;
  }

  .nav.show {
    transform: translateY(0);
    opacity: 1;
  }

  .scroll_item {
    margin: 1.5rem 0;
  }
}
